<div class="card mb-2">
  <div class="card-body">
    <h4 class="card-title"><%= movie.title %></h4>
    Posted by <%= link_to movie.user == current_user ? "You" : movie.user.name, movie.user %> 
    <%= distance_of_time_in_words(movie.created_at, Time.now) %> ago
    <p class="card-text">
      <%= movie.description %>
    </p>
    <div class="row">
      <%= render partial: "movies/votes", locals: { movie: movie } %>
    </div>
  </div>
</div>