<% like = movie.number_of_likes == 1 ? "like" : "likes" %>
<% hate = movie.number_of_hates == 1 ? "hate" : "hates" %>
<%- if current_user.present? %>
  <% already_liked = movie.votes.find { |vote| vote.user_id == current_user.id && vote.vote_type == "like" } %>
  <% already_hated = movie.votes.find { |vote| vote.user_id == current_user.id && vote.vote_type == "hate" } %>
  <%- if movie.user == current_user %>
    <%- if movie.number_of_likes > 0 || movie.number_of_hates > 0 %>
      <div class= "col-md-6">
        <%= "#{movie.number_of_likes} #{like}" %> | <%= "#{movie.number_of_hates} #{hate}" %>
      </div>
    <% end %>
  <% else %>
    <%- if movie.number_of_likes == 0 && movie.number_of_hates == 0 %>
      <div class= "col-md-6">
        Be the first to vote for this movie:
        <%= link_to "Like", movie_votes_path(movie, vote_type: 0), method: :post %> |
        <%= link_to "Hate", movie_votes_path(movie, vote_type: 1), method: :post %>
      </div>
    <% else %>
      <%- if movie.number_of_likes > 0 || movie.number_of_hates > 0 %>
        <div class= "col-md-6">
          <%= "#{movie.number_of_likes} #{like}" %> | <%= "#{movie.number_of_hates} #{hate}" %>
        </div>
      <% end %>
      <%- if already_liked %>
        <div class= "col-md-6 float-right">
          You like this movie | 
          <%= link_to "Unlike", movie_vote_path(movie, already_liked, vote_type: 0), method: :delete %>
        </div>
      <% elsif already_hated %>
        <div class= "col-md-6 float-right">
          You hate this movie |
          <%= link_to "Unhate", movie_vote_path(movie, already_hated, vote_type: 1), method: :delete %>
        </div>
      <% else %>
        <div class= "col-md-6">
          <%= link_to "#{movie.number_of_likes} #{like} ", movie_votes_path(movie, vote_type: 0), method: :post %> |
          <%= link_to "#{movie.number_of_hates} #{hate}", movie_votes_path(movie, vote_type: 1), method: :post %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%- if movie.number_of_likes > 0 || movie.number_of_hates > 0 %>
    <div class= "col-md-12">
      <%= "#{movie.number_of_likes} #{like}" %> | <%= "#{movie.number_of_hates} #{hate}" %>
    </div>
  <% end %>
<% end %>