<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Number of likes:</strong>
  <%= @movie.number_of_likes %>
</p>

<p>
  <strong>Number of hates:</strong>
  <%= @movie.number_of_hates %>
</p>

<p>
  <strong>User:</strong>
  <%= @movie.user.name %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
